<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aizuda.snailjob.template.datasource.persistence.mapper.RetryMapper">

    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sj_retry (namespace_id, group_name, group_id, scene_name, scene_id, idempotent_id, biz_no,
                                   executor_name, args_str, serializer_name, ext_attrs, next_trigger_at, task_type, retry_status,
                                   create_dt, bucket_index, parent_id, deleted)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                 #{item.namespaceId},
                 #{item.groupName},
                 #{item.groupId},
                 #{item.sceneName},
                 #{item.sceneId},
                 #{item.idempotentId},
                 #{item.bizNo},
                 #{item.executorName},
                 #{item.argsStr},
                 #{item.serializerName},
                 #{item.extAttrs},
                 #{item.nextTriggerAt},
                 #{item.taskType},
                 #{item.retryStatus},
                 #{item.createDt},
                 #{item.bucketIndex},
                 #{item.parentId},
                 #{item.deleted}
            )
        </foreach>
    </insert>

    <update id="updateBatchNextTriggerAtById" parameterType="java.util.List">
        UPDATE sj_retry rt,
               (
                   <foreach collection="list" item="item" index="index" separator="UNION ALL">
                       SELECT
                           #{item.id}               AS id,
                           #{item.nextTriggerAt}    AS next_trigger_at
                   </foreach>
               ) tt
           SET rt.next_trigger_at = tt.next_trigger_at
         WHERE rt.id = tt.id
    </update>

    <update id="updateByIds">
        UPDATE sj_retry rt,
               (
                   <foreach collection="list" item="item" index="index" separator="UNION ALL">
                       SELECT
                           #{item.id}               AS id,
                           #{item.retryStatus}      AS retry_status,
                           #{item.retryCount}       AS retry_count,
                           #{item.nextTriggerAt}    AS next_trigger_at,
                           #{item.bucketIndex}      AS bucket_index,
                           #{item.taskType}         AS task_type,
                           #{item.parentId}         AS parent_id,
                           #{item.deleted}          AS deleted
                   </foreach>
               ) tt
           SET rt.retry_status = IFNULL(tt.retry_status, rt.retry_status),
               rt.retry_count = IFNULL(tt.retry_count, rt.retry_count),
               rt.next_trigger_at = IFNULL(tt.next_trigger_at, rt.next_trigger_at),
               rt.bucket_index = IFNULL(tt.bucket_index, rt.bucket_index),
               rt.task_type = IFNULL(tt.task_type, rt.task_type),
               rt.parent_id = IFNULL(tt.parent_id, rt.parent_id),
               rt.deleted = IFNULL(tt.deleted, rt.deleted)
         WHERE rt.id = tt.id
    </update>

</mapper>
